<div class="right_side_bar">

<h2>Додати страву:</h2>

<div class="">
  <div class="">
  <%#= render 'shared/error_messages' %>
    <%= form_for(@diet, :url => {:action => "create"}) do |f| %>

      <%= f.label :diet_id, 'Впишіть данні:' %>
      <%= f.text_field :name, placeholder: "Назва страви" %>
	  <div class="minf first"><%= f.number_field :weight, min: 0, placeholder: "0" %>грамів</div>
	  <div class="minf"><%= f.number_field :calories, min: 0, placeholder: "0" %>ккал</div>
	  
      <%= f.submit "Додати", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

</div>